@charset "utf-8";
/*CSS Document*/

body{
     background-image:url("Background-wood.jpeg");
     background-size:cover;
     width: 100%;
     background-position: center;
     background-repeat: no-repeat;
     background-attachment:fixed;
     margin:0px;
    }
ul{
    list-style:none; 
  }
a{
    text-decoration:none;
 }
 section{
        width:100%;
        padding:30px;
        }
nav{
    display:flex;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:1000;
    justify-content:space-between; 
    align-items: center;
    height:60px;
    background-color: #d1d6bf;
    box-shadow:2px 2px 12px rgba(0, 0, 0, 0.2); 
    padding:0px 5%;
   }
nav ul{
       display: flex;
      }
.toggle{
       display:none;
       }      
nav ul li a{   
            margin:30px;
            font-family:"Summer Font";
            color: #505050;
            font-size:35px;
            font-weight:700;
           }
.name{
    font-family:"Summer Font";
    color:#505050;
    font-size:40px;
    font-weight:bold;
    }
iframe{
      padding:20px;
      width:85%;
      }
h1{
      color:#505050;
      font-family:"JMH Typewriter";
      text-align:center;
  }
.top{
    font-size:40px;
    margin-top:50px;
    }
.title{
       font-size:35px;
       }
img{
   padding:10px;  
   align-items:center;
   justify-content:center;
   }
.first{
      margin-top:30px;
      width:40%;
      padding:0 55px;
      }
h2{
    font-size:30px;
    color:#505050;
    font-family:"JMH Typewriter";
    padding:0 20px;
   }
.features{
         font-family: "JMH Typewriter";
         line-height:35px;
         color:#000000;
         font-size:20px;
         padding:0 20px;
         margin-top:25px;
         }
.features li{
            padding:12px;
            }
.game{
         font-family: "JMH Typewriter";
         line-height:35px;
         color:#000000;
         font-size:20px;
         padding: 0 40px;
         margin-top: 25px;
          }  
.gameplay-pictures{
                  padding:0 55px;
                  width:40%;
                  }
.graphics-pictures{
                  float:left;
                  width:30%;
                  padding:10px;
                  margin-bottom:20px;
                  }         
h3{
   font-size:25px;
   color:#505050;
   font-family:"JMH Typewriter";
   padding:0 20px;
  }         
.soundtrack{
           color:#000000;
           }         
         
         
         
          